<!-- add notification sound -->
<div id="sound"></div>
</div> 
<!-- end of container-fluid div (VueApp) -->
<script src="/socket.io/socket.io.js "></script>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vuex/3.0.1/vuex.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/public/assets/js/cookie.min.js"></script>
<script>
    var socket = io();
    new Vue({
	el:'#VueApp',
	data:{
        isActive: false,
        isChecked: cookie.get("notificationSound",true) == "true",
	    channel: "",
        msg: "",
        counts: 0,
        notifications: [],
        brands :[],
		brand_id:'',
		models :[],
		model_id:'',
		generations :[],
		generation_id:'',
	},
	methods:{
        moment: function(date){
            return moment(date).fromNow();
        },
        viewed: function(order){
            socket.emit('from-client',order);
        },
        playSound: function playSound(filename){   
            document.getElementById("sound").innerHTML='<audio autoplay="autoplay"><source src="/public/assets/audio/' + filename + '.mp3" type="audio/mpeg" /><source src="/public/assets/audio/' + filename + '.ogg" type="audio/ogg" /><embed hidden="true" autostart="true" loop="false" src="/public/assets/audio/' + filename +'.mp3" /></audio>';
        },
        fetchGeneration(){
			axios.get('/api/generations/'+this.model_id).then(response => this.generations = response.data);
		},
		fetchModels(){
			axios.get('/api/models/'+this.brand_id).then(response => this.models = response.data);
		}
    },
    watch: {
        counts: function () {
            if(this.counts>0){
                this.isActive = true;
            }else
            {
                this.isActive = false;
            }
        },
        isChecked: function(){
            if(this.isChecked){
                cookie.set('notificationSound', true);
            }else
            {
                cookie.set('notificationSound', false);
            }
        }
    },
	mounted(){
        axios.get('/api/brands/').then(response => this.brands = response.data);
        axios.get('/api/notifications/').then((response) => {
            this.counts = response.data.counts;
            this.notifications = response.data.notifications.map(JSON.parse);
        });
        socket.on('from-server',(message)=>{
        this.channel = message.channel,
        this.msg = message.message,
        this.counts = message.counts,
        this.notifications = message.notifications.map(JSON.parse)
        if(this.isChecked){
            this.playSound('notify');
        }
        console.log(JSON.stringify(message));
    });
	}
}) 
</script>
<script src="/public/dashboard/js/lib/jquery/jquery.min.js"></script>
<script src="/public/dashboard/js/lib/jScrollPane/jquery.jscrollpane.min.js"></script>
<script src="/public/dashboard/js/lib/jScrollPane/jquery.mousewheel.js"></script>
<script src="/public/dashboard/js/lib/jScrollPane/mwheelIntent.js"></script>
<script src="/public/dashboard/js/lib/tether/tether.min.js"></script>
<script src="/public/dashboard/js/lib/bootstrap/bootstrap.min.js"></script>
<script src="/public/dashboard/js/plugins.js"></script>
<script type="text/javascript" src="/public/dashboard/js/lib/match-height/jquery.matchHeight.min.js"></script>
<script type="text/javascript" src="/public/dashboard/js/lib/moment/moment-with-locales.min.js"></script>
<script type="text/javascript" src="/public/dashboard/js/lib/eonasdan-bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
<script src="/public/dashboard/js/lib/fullcalendar/fullcalendar.min.js"></script>
<script src="/public/dashboard/js/app.js"></script>
</body>
</html>